@font-face {
  font-family: Ubuntu-Bold;
  src: url(/fonts/Ubuntu-Bold.ttf);
}

.props-info, 
.step-container > p,
form > button,
.form_step_one > button,
.plan-showOff-header,
.total > div,
.thank-you > div > p:nth-child(2) { 
  font-family: Ubuntu-Bold;
}

@font-face {
  font-family: Ubuntu-Medium;
  src: url(/fonts/Ubuntu-Medium.ttf);
}

input,
input::placeholder,
.planbuttons > button,
.checkbox > div > p:first-child,
.plan-showOff-addons > p:last-child {
  font-family: Ubuntu-Medium;
}

@font-face {
  font-family: Ubuntu-Regular;
  src: url(/fonts/Ubuntu-Regular.ttf);
}

form label {
  font-family: Ubuntu-Regular;
}