:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(217, 100%, 97%);

  /* Primary */
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  /* Neutral */
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Ligher-gray: rgb(180, 180, 180, 0.3);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  user-select: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.mainwindow {
  display: flex;
  align-items: center;
  height: 600px;
  width: 1000px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0px 40px 0px var(--Ligher-gray);
}

.mainwindow>p {
  color: black;
}

.sidebar {
  background-image: url('/bg-sidebar-desktop.svg');
  background-position: center;
  height: 568px;
  width: 274px;

  margin-left: 16px;
}

.topbar {
  display: none;
}

.info-bar {
  position: absolute;
  margin-top: 1.5rem;
}

.step-container {
  display: flex;
  align-items: center;
  margin-left: 2.5rem;
  gap: 1rem;
}

.step-container>p {
  height: 35px;
  width: 35px;
  border: 1px white solid;
  border-radius: 50%;
  margin: 15px 0;
  line-height: 2.125;
}

.step-activated>p {
  border-color: var(--Light-blue);
  color: var(--Marine-blue);
  background-color: var(--Light-blue);
}

.step-info-container p:first-child {
  font-size: 13px;
  color: hsl(231, 11%, 63%);
}

.step-info-container>p {
  text-align: left;
  margin: 0;
}

.step_form {
  width: 478px;
  height: 440px;

  color: var(--Marine-blue);
}

form {
  width: 478px;
  height: 568px;
  margin: 16px 116px;

  position: relative;
}

form,
.step_form>h2,
.step_form>p {
  text-align: left;
}

.step_form>h2 {
  font-size: 40px;
  padding: 30px 0 0px 0;
  margin: 0;
}

.step_form>p {
  font-size: 20px;
  padding: 0 0 30px 0;
  margin: 0;
  color: var(--Cool-gray);
}

form label {
  display: inline-block;
}

form input {
  position: relative;
  width: 100%;
  height: 48px;
  padding: 6px 10px;
  margin: 5px 0 15px 0;
  border: 1px solid var(--Light-gray);
  outline: none;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  color: var(--Marine-blue);
  background: var(--White);
  cursor: pointer;
}

p.required_phrase {
  padding: 0;
  font-size: 15px;
  float: right;
  color: var(--Strawberry-red);
}

.form_step_one input:focus {
  border-color: var(--Purplish-blue);
}

.required {
  border-color: var(--Strawberry-red);
}

.form_step_one>button,
form>button {
  position: absolute;
  bottom: 16px;
  right: 0;
  padding: 15px 20px;
  outline: none;
  border: none;
  border-radius: 10px;

  font-size: 1.125rem;
  background-color: var(--Marine-blue);
}

.form_step_one>button:hover,
form>button:hover {
  opacity: 0.7;
}

.previous_button {
  left: 0;
  width: 120px;
  background-color: transparent;
  color: var(--Marine-blue);
}

.Purple {
  background-color: var(--Purplish-blue);
}

.planbuttons {
  display: flex;
  width: 478px;
  justify-content: space-between;
}

.planbuttons>button {
  display: flex;
  flex-direction: column;
  align-items: start;

  padding-left: 20px;

  min-height: 160px;
  width: 150px;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid var(--Light-gray);

  font-size: 18px;

  color: var(--Marine-blue);
  background-color: transparent;
  text-align: left;
}

.planbutton-container {
  display: flex;
  flex-direction: column;
}

.planbutton-container>p {
  margin: 0;
}

p.months-free {
  color: var(--Marine-blue);
  font-size: 14px;
}

.planbuttons>button:hover {
  border-color: var(--Purplish-blue);
}

.planbuttons>button>img {
  padding-top: 20px;
  padding-bottom: 40px;
}

.planbuttons>button>p {
  margin-bottom: 5px;
  margin-top: 0;
}

.plan_price {
  color: var(--Cool-gray);
}

.toggle {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
  border-radius: 10px;

  margin-top: 20px;
  background-color: var(--Magnolia);
}

.toggle_button {
  position: relative;
  display: flex;
  align-items: center;
  width: 40px;
  height: 20px;
  outline: none;
  border: none;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 10px;
  padding-left: 2px;
  padding-right: 2px;

  background-color: var(--Marine-blue);
}

.toggle_button>div {
  height: 16px;
  width: 16px;
  position: absolute;
  background-color: var(--White);
  border-radius: 50%;
  transition-duration: 100ms;
}

.checkbox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 16px;
  border: 1px solid var(--Light-gray);
}

.checkbox:hover,
.checkbox_active {
  outline: 1px solid var(--Purplish-blue);
}

.checkbox_active {
  background-color: var(--Magnolia);
}

.checkbox-checked-container>input {
  height: 20px;
  width: 20px;
  margin: 0;
  appearance: none;
  border: 1px solid var(--Light-gray);
}

.checkbox-checked-container>input:checked {
  background-color: var(--Purplish-blue);
  border-color: var(--Purplish-blue);
}

.checkbox>div {
  width: 60%;
}

.checkbox-checked-container {
  max-width: 20px;
  position: relative;
}

.checkbox>div>p {
  margin: auto 0;
}

.checkbox>div>p:first-child {
  margin-top: 16px;
}

.checkbox>div>p:last-child {
  color: var(--Cool-gray);
  margin-bottom: 16px;
}

.checkbox-checked-container>img {
  position: absolute;
  top: 6px;
  left: 5px;
  z-index: 1;
}

.checkbox>p {
  color: var(--Purplish-blue);
}

.plan-showOff {
  box-sizing: border-box;
  background-color: var(--Magnolia);
  width: inherit;
  padding: 15px;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.plan-showOff-header {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  font-size: 1.0625rem;
  padding: 0 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.plan-showOff-header>p:last-child {
  font-size: 19px;
}

.plan-showOff-line {
  height: 2px;
  position: inherit;
  width: 428px;
  background-color: var(--Light-gray);
  align-self: center;
}

.plan-showOff-button {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 15px;
  border-bottom: 1px solid var(--Cool-gray);
  color: var(--Cool-gray);
}

.plan-showOff-button:hover {
  color: var(--Purplish-blue);
  border-color: var(--Purplish-blue);
}

.list-addons {
  padding-top: 15px;
}

.plan-showOff-addons {
  display: flex;
  justify-content: space-between;
}

.plan-showOff-addons>p {
  margin: 8px 0;
  padding: 0 10px;
}

.plan-showOff-addons>p:first-child {
  color: var(--Cool-gray);
}

.total {
  width: 100%;
  height: 50px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 25px;
}

.total>p {
  color: var(--Cool-gray);
}

.total>div {
  font-size: 22px;
  color: var(--Purplish-blue);
}

.thank-you {
  height: 568px;
  width: 478px;
  margin: 16px 116px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.thank-you>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thank-you>div>img {
  margin: 20px;
}

.thank-you>div>p:nth-child(2) {
  font-size: 30px;
  margin: 10px;
  color: var(--Marine-blue);
}

.thank-you>div>p:last-child {
  margin: 8px;
  font-size: 17px;
  color: var(--Cool-gray);
}

@media (max-width: 500px) {
  body {
    justify-content: center;
    align-items: start;
  }

  #root {
    padding: 0;
    width: 90%;
    margin: 0;
    display: flex;
    align-items: start;
    justify-content: center;
  }

  .mainwindow {
    width: 100%;
    max-width: 480px;
    margin: 0;
    margin-top: 100px;
    align-items: start;
    justify-content: center;
    height: auto;

    z-index: 2;
  }

  form {
    height: auto;
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: start;
  }

  .step_form {
    width: 86%;
    height: auto;
  }

  .sidebar {
    display: none;
  }

  .topbar {
    display: flex;
    position: absolute;
    top: 0;
    background-position: center;
    justify-content: center;
    height: 274px;
    width: 100%;
  }

  .topbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/bg-sidebar-desktop.svg');
    background-position: center 90%;
    width: 100%;
    height: 250px;
    background-size: cover;
  }

  .info-bar {
    display: flex;
  }

  .step-container {
    margin-right: 3vw;
    margin-left: 3vw;
  }

  .step_form>h2 {
    font-size: 30px;
  }

  .step_form>p {
    font-size: 22px;
    padding: 0 0 15px 0;
  }

  p.required_phrase {
    padding: 0;
    font-size: 16px;
  }

  .form_step_one {
    padding-bottom: 15px;
  }

  .form_step_one>button,
  form>button {
    position: fixed;
    bottom: 16px;
    right: 16px;
  }

  .planbuttons {
    flex-direction: column;
    width: 100%;
  }

  .planbuttons>button {
    width: 100%;
    flex-direction: row;
    min-height: 80px;
    align-items: center;
    margin-bottom: 10px;
  }

  .planbutton-container {
    padding-left: 20px;
  }

  .planbuttons>button>img {
    padding: 0;
  }

  .toggle {
    margin: 0;
    margin-bottom: 10px;
  }

  .checkbox>div>p:last-child {
    font-size: 3.25vw;
  }

  .checkbox>img {
    position: static;
    left: 0;
  }

  .plan-showOff {
    width: 100%;
  }

  .plan-showOff-line {
    width: 86%;
  }

  .total {
    padding: 15px;
    padding-top: 0;
    height: auto;
  }

  .thank-you {
    width: 86%;
    height: auto;
    margin: 0;

    padding-bottom: 20px;
  }

  .form_step_one>button,
  form>button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
  }

  .form_step_one>button:hover,
  form>button:hover {
    opacity: 1;
  }

  .form_step_one>button:active::after,
  form>button:active::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: rgb(170, 170, 170);
    opacity: 0.3;
    animation: grow 1s cubic-bezier(.13, .78, .4, .95);
  }

  @keyframes grow {
    0% {
      height: 30px;
      width: 30px;
    }

    20% {
      height: 140px;
      width: 140px;
    }

    100% {
      opacity: 0;
    }
  }
}