:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(217, 100%, 97%);

  /* Primary */
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  /* Neutral */
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  user-select: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.mainwindow {
  display: flex;
  align-items: center;
  height: 600px;
  width: 1000px;
  border-radius: 15px;
  background-color: white;
}

.mainwindow > p {
  color: black;
}

.sidebar {
  background-image: url('/bg-sidebar-desktop.svg');
  background-position: center;
  height: 568px;
  width: 274px;

  margin-left: 16px;
}

.info-bar {
  position: absolute;
  margin-top: 1.5rem;
}

.step-container {
  display: flex;
  align-items: center;
  margin-left: 2.5rem;
  gap: 1rem;
}

.step-container > p {
  height: 35px;
  width: 35px;
  border: 1px white solid;
  border-radius: 50%;
  margin: 15px 0;
  line-height: 2.125;
}

.step-activated > p {
  border-color: var(--Light-blue);
  color: var(--Marine-blue);
  background-color: var(--Light-blue);
}

.step-info-container p:first-child {
  font-size: 13px;
  color: hsl(231, 11%, 63%);
}

.step-info-container > p {
  text-align: left;
  margin: 0;
}

.step_form {
  width: inherit;
  height: 440px;

  color: var(--Marine-blue);
}

form {
  width: 478px;
  height: 568px;
  margin: 16px 116px;

  position: relative;
}

form,
.step_form > h2,
.step_form > p{
  text-align: left;
}

.step_form > h2 {
  font-size: 40px;
  padding: 30px 0 0px 0;
  margin: 0;
}

.step_form > p {
  font-size: 20px;
  padding: 0 0 30px 0;
  margin: 0;
  color: var(--Cool-gray);
}

form label {
  display: block;
}

form input {
  width: 100%;
  height: 48px;
  padding: 6px 10px;
  margin: 5px 0 15px 0;
  border: 1px solid var(--Light-gray);
  outline: none;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  color: var(--Marine-blue);
  background: var(--White);
  cursor: pointer;
}

.form_step_one input:focus {
  border-color: var(--Purplish-blue);
}

form > button {
  position: absolute;
  bottom: 16px;
  right: 0;
  padding: 15px 20px;
  outline: none;
  border: none;
  border-radius: 10px;

  font-size: 1.125rem;
  background-color: var(--Marine-blue);
}

form > button:hover {
  opacity: 0.7;
}

.previous_button {
  left: 0;
  width: 120px;
  background-color: transparent;
  color: var(--Marine-blue);
}

.Purple {
  background-color: var(--Purplish-blue);
}

.planbuttons {
  display: flex;
  width: 478px;
  justify-content: space-between;
}

.planbuttons > button {
  display: flex;
  flex-direction: column;
  align-items: start;

  padding-left: 20px;

  height: 160px;
  width: 150px;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid var(--Light-gray);

  font-size: 18px;

  color: var(--Marine-blue);
  background-color: transparent;
  text-align: left;
}

.planbuttons > button:hover {
  border-color: var(--Purplish-blue); 
}

.planbuttons > button > img {
  padding-top: 20px;
  padding-bottom: 40px;
}

.planbuttons > button > p {
  margin-bottom: 5px;
  margin-top: 0;
}

.planbuttons > button > p:last-child {
  color: var(--Cool-gray);
}

.toggle {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;

  margin-top: 20px;
  background-color: var(--Magnolia);
}

.toggle_button {
  position: relative;
  display: flex;
  align-items: center;
  width: 40px;
  height: 20px;
  outline: none;
  border: none;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 10px;
  padding-left: 2px;
  padding-right: 2px;

  background-color: var(--Marine-blue);
}

.toggle_button > div {
  height: 16px;
  width: 16px;
  position: absolute;
  background-color: var(--White);
  border-radius: 50%;
  transition-duration: 100ms;
}

.checkbox{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 16px;
  border: 1px solid var(--Light-gray);
}

.checkbox:hover,
.checkbox_active {
  outline: 1px solid var(--Purplish-blue);
}

.checkbox_active {
  background-color: var(--Magnolia);
}

.checkbox > input {
  height: 20px;
  width: 20px;
  margin: 0;
  appearance: none;
  border: 1px solid var(--Light-gray);
}

.checkbox > input:checked {
  background-color: var(--Purplish-blue);
  border-color: var(--Purplish-blue);
}

.checkbox > div {
  width: 60%;
}

.checkbox > div > p {
  margin: auto 0;
}

.checkbox > div > p:first-child {
  margin-top: 16px;
}

.checkbox > div > p:last-child {
  color: var(--Cool-gray);
  margin-bottom: 16px;
}

.checkbox > img {
  position: absolute;
  left: 34px;
  z-index: 1;
}

.checkbox > p {
  color: var(--Purplish-blue);
}

.plan-showOff {
  box-sizing: border-box;
  background-color: var(--Magnolia);
  width: inherit;
  padding: 15px;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.plan-showOff-header {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  font-size: 1.0625rem;
  padding: 0 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.plan-showOff-line {
  height: 2px;
  position: inherit;
  width: 428px;
  background-color: var(--Light-gray);
  align-self: center;
}

.plan-showOff-button {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 15px;
  border-bottom: 1px solid var(--Cool-gray);
  color: var(--Cool-gray);
}

.plan-showOff-button:hover {
  color: var(--Purplish-blue);
  border-color: var(--Purplish-blue);
}

.list-addons {
  padding-top: 15px;
}
.plan-showOff-addons {
  display: flex;
  justify-content: space-between;
}

.plan-showOff-addons > p {
  margin: 8px 0;
  padding: 0 10px;
}
.plan-showOff-addons >p:first-child {
  color: var(--Cool-gray);
}